.cardContainer{
    text-align: center;
    height:200px;
    width: 90%;
    margin:2px auto;
}
.avatar{
    background-image: url('../assets/images/1024x1024bb.jpg');
    width: 100%;
    height:100%;
    object-fit: cover;
}