.SideBarContainer{
    padding:20px;
    border:solid 1px red;
}
.SideBarContentContainer{
    /* border:solid 1px black;    */
    height:20px;
    line-height: 20px;
    margin: 10px auto;
    color:gray;
}
.commentIcon{
    padding-left:30px;
    width:20px;
    height:20px;
    background-image: url('./images/chat.svg');
    background-repeat: no-repeat;
}
.commentIcon2{
}